In [3]:
# NIM/Nama  : 16521125/Gibran Fasha Ghazanfar
# Tanggal    : 30 November 2021
# Deskripsi : Program pengolah data mahasiswa soal ke-2

#Kamus :
#df : Tabel yang memuat data problem H05

#Deklarasi kamus
import pandas as pd #mengimpor pandas sebagai pd

df = pd.read_csv("H05.csv") #Membaca file csv

In [4]:
#Subsoal 1

print(df.loc[3513, "nilai_mat"], df.loc[3513, "nilai_fis"], df.loc[3513, "nilai_kim"])
#Mencetak nilai mat, fis, kim milik Tuan Ric yaitu pada data ke-3513
#(Mencetak nilainya saja berdasarkan perintah soal)

96.78 30.53 62.23

In [5]:
#Subsoal 2

nilai_fis_ting = df["nilai_fis"].max() #Menyimpan nilai fisika tertinggi ke dalam variabel

print(df.loc[(df["nilai_fis"] == nilai_fis_ting)]) #Memfilter dataframe yang ada berdasarkan kriteria

                         nama fakultas  nilai_mat  nilai_kim  nilai_fis
1936  Yuniar Fazriani Rusmana     FITB      53.61      67.19      92.57

In [6]:
#Subsoal 3

df.sort_values(["nilai_kim"], ascending = [0])[:10] #Mengurutkan 10 nilai kimia dimulai dari yang tertinggi

                          nama fakultas  nilai_mat  nilai_kim  nilai_fis
2554      Faathir Reza Avicena     FTSL      57.12      81.50      78.68
2779      Dinda A A Z Mundakir     STEI      41.18      81.34      82.60
3544        Tammya Ayu Purnomo    SITHS      74.49      81.20      78.58
4934    Alyssa Nadhira Windari     FTMD      78.38      78.83      78.68
1137          Izni Nur Ibrahim     STEI      56.70      78.46      84.34
2262      Rinaldi Oky Setiawan     STEI      71.22      77.44      83.66
4070      Ias Azhari Rezkyarno    FMIPA      62.85      76.90      81.52
2945           Klara Petra T T     FTSL      73.39      76.61      78.12
1788  Naudy Germanimo Laksmana     FTMD      62.29      76.38      76.15
1310       Mardliyahtur Rohmah     STEI      63.15      76.36      74.06

In [7]:
#Subsoal 4

len(df.loc[df["nilai_mat"] < 50]) #Banyak nilai mtk di bawah 50 dicetak menggunakan len()

329

In [8]:
#Subsoal 5

len(df.loc[df["fakultas"] == "FMIPA"]) #Banyak mahasiswa FMIPA dicetak menggunakan len()

627